body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455
}

/* reset */
a {
    text-decoration: none;
}


ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container{
            max-width: 768px;
        }
}

@media screen and (min-width:1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/* region header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-cointeiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-header,
.header-address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo-style {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.burger-button{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burgur-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .nav-header {
        display: flex;
    }
    .burger-button {
        display: none;
        }
    .nav-list-header {
        display: flex;
        align-items: center;
        gap: 40px;
                }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
}
    .header-address {
        font-style: normal;
        display: block;
        }

    .item-nav-link {
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .item-nav-link.current {
        position: relative;
        }
    
    .item-nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        }

    .contacts-info-header {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contacts-info-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .item-nav-link:hover,
    .item-nav-link:focus,
    .item-nav-link.current {
        color: #404BBF;
                }
}

@media screen and (min-width: 1158px) {

    .container{
        max-width: 1158px;
    }
    .header-logo {
    margin-right: 76px;
        }

.header-address {
    margin-left: auto;
    display: flex;
}

    .contacts-info-link {
    padding: 24px 0;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

        .contacts-info-header {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
}

/* mobile menu */

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility, opacity, pointer-events;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-manu-nav{
    margin-bottom: auto;
}

@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}
.button-mobile-menu-close{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: absolute;
    right: 24px;
    top: 24px;
    background-color:#e7e9fc;
    border-radius: 100%;
    stroke-width: 1px;
    stroke: #2e2f42;
    margin-left: auto;
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-mobile-close-icon{
    display: block;
    fill: #2e2f42;
}

.mobile-menu-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link.current{
    color: #404bbf;

}

.mobile-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    display: block;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-info-link.tel{
    color: #4d5ae5;
}

.mobile-info-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-info:hover,
.mobile-info:focus,
.mobile-info-link:hover,
.mobile-info-link:focus {
    color: #404bbf;
}

.mobile-menu-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mobile-social-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-top: 48px;
}

.mobile-social-img{
    display: block;
    fill: #f4f4fd;
}

.mobile-social-item{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #404bbf;
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-item:hover{
    background-color: #4d5ae5;
}

/* region hero */

@media screen and (min-width: 320px){
    .section-hero-info{
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    image-set(url(../images-hero/office-mobile@1x.jpg) 1x, url(../images-hero/office-mobile@2x.jpg) 2x);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .hero-titel{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        text-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 48px;
        max-width: 216px;
        
    }

    .hero-button-section{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 10px;
        min-width: 169px;
        height: 56px;
        border: none;
        display: block;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        height: 56px;
        padding: 16px 32px;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 72px auto 0;


        }
        
        .hero-button-section:hover,
        .hero-button-section:focus {
            color: #404BBF;
            background-color: #404BBF
        }
        
    }

@media screen and (min-width: 768px){
.hero-container{
   padding: 112px 0;
}

}.hero-titel{
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
}

@media screen and (min-width: 1158px){
    .section-hero-info{
        padding: 188px 0;
    }
}

/* region section 1 */

@media screen and (min-width: 320px){
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
        }

.container-box{
    margin: 96px auto;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}
.box-icon{
    width: 100%;
    display: none;
}

.section-list{
    align-content: center;
    font-display: column;
    width: 288px;
    gap: 8px;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-text{
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
}

@media screen and (min-width: 768px){
.section{
margin: 0 auto;
display: flex;
flex-wrap: wrap;
flex-direction: row;
}
}

@media screen and (min-width: 1158px){
.container-box{
    padding: 120px 0;
    margin: 0 auto;
    }

.section{
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.section-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
    }

.section-text{
    font-weight: 400;
    }

.section-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    width: (calc (100% - 24px * 3) / 4);
}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background: #F4F4FD;
    margin-bottom: 8px;
}
}

@media screen and (min-width: 320px){
.section-photo{
    padding: 96px 0;
    background-color: #f4f4fd;
    text-align: center;
}

.section-ph-title{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-ph-list{
    gap: 72px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
}

.section-ph-item{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    display: flex;
    flex-direction: column;

}
.section-ph-info{
    margin-top: 32px;
}
.section-ph-item-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.section-item-role{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
    text-align: center;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 232px;
    margin: 0 auto;
}

.social-item {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social{
    display: block;
    fill: #f4f4fd;
    padding: 0;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.social-link:hover,
.social-link:focus{
    background-color: #404bbf;
}
.social-link svg {
    fill: #f4f4fd;
}
}